@model ImageGallery.Client.ViewModels.GalleryIndexViewModel
<div class="container mt-4">
    <div class="row">
        @foreach (var item in Model.Images)
        {
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                <div>
                    <img class="img-thumbnail" src="@("http://localhost:58828/images/" + item.FileName)" />
                </div>
                <div>
                    <div class="h5">@item.Title</div>
                    <div class="mb-4">
                        <a asp-action="EditImage" asp-controller="Gallery" asp-route-id="@item.Id">Edit title</a> |
                        <a asp-action="DeleteImage" asp-controller="Gallery" asp-route-id="@item.Id">Delete image</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script src="~/js/site.index.js"></script>
}
